@import "~bootstrap/scss/bootstrap.scss";

.player-container{
    background-color: black;
    overflow: scroll;
    margin: auto;
    border-radius: 5px;
    height: 450px;
}
.row{
    overflow: scroll;
}
.footer{
    position: relative;
    bottom: 0;
    background-color: #282828;
    padding: 5px 15px;
}
.listOfSongs{
    overflow: scroll;
}

li{
    padding: 3px;
    overflow: scroll;
}
li:hover{
background-color: #373737;
}
.song{
    border: grey;
    padding: 3px;
    margin: 0;
}
.playIcon{
    display: inline-block;

}
.playIcon:hover{
    color: green;
    
}
.pauseIcon{
    display: none;

}
.pauseIcon:hover{
    color: green;
    
}
.skipIcon:hover{
    color: green;
    
}
.mutedText{
    color: #D3D3D3;
    display: inline-block;
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
